.button {
  appearance: none;
  background-color: var(--action-color);
  border: var(--border);
  border-color: var(--action-color);
  border-radius: var(--border-radius);
  color: var(--background-color);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight);
  line-height: var(--line-height--unleaded);
  padding: 0.625em 1.25em 0.75em;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    box-shadow: 0 0 0 2px #{var(--background-color)}, 0 0 0 4px #{var(--action-color)};
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.button--pill {
  border-radius: 9999px;
}

.button--secondary {
  background-color: var(--subtle-color);
  border-color: var(--subtle-color);
  color: var(--content-color);
}
