<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title or metadata.title }}"/>
    <meta property="og:description" content="{{ description or metadata.description }}"/>
    <meta property="og:url" content="{{ metadata.url }}"/>
    <meta property="og:site_name" content="{{ metadata.title }}" />
    <meta property="og:image" content="/images/open-graph.jpg"/>
    <meta property="og:image:secure_url" content="/images/open-graph.jpg"/>
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

    <script src="/js/app.js" defer></script>

    {% if carousels %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script src="/js/carousel.js" defer></script>
    {% endif %}
  </head>


  <body class="site">
    {% include "partials/_header.njk" %}

    <main class="site__main {% if templateClass %} {{ templateClass }} {% endif %}">
      {{ content | safe }}
    </main>

    {% include "partials/_footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
