@use "../settings/other" as *;

.section {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing);
}

.section--bordered {
  border-block: var(--border);
}

.section--padded {
  padding-block: var(--spacing);

  @media(min-width: $breakpoint--mobile) {
    padding-block: var(--spacing--double);
  }
}

.section__content {
  max-width: var(--width--content);
  margin: 0 auto;
  width: 100%;

  & + & {
    margin-block-start: var(--spacing);
  }
}

.section__content--flush {
  max-width: none !important;
  margin-inline: calc(-1 * var(--spacing)) !important;
  width: 100vw !important;
}

.section__content--slim {
  max-width: var(--width--article);
}
