@font-face {
  font-family: "Ours Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/ours-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Ours Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../../fonts/ours-sans-regular-italic.woff") format("woff");
}

@font-face {
  font-family: "Ours Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/ours-sans-bold.woff") format("woff");
}

@font-face {
  font-family: "Ours Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../../fonts/ours-sans-bold-italic.woff") format("woff");
}
