ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  font-weight: var(--font-weight--body);
  list-style: none;
  padding-block-end: var(--spacing--half);
  padding-inline-start: calc(0.75 * var(--spacing));

  li {
    margin-block-end: var(--spacing--eighth);
    position: relative;

    &::before {
      content: "◼︎";
      font-size: 90%;
      left: calc(-0.75 * var(--spacing));
      position: absolute;
      top: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  // font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

details {
  summary {
    cursor: pointer;
    list-style: none;
    position: relative;

    &:focus {
      outline: none;
    }
    &::-webkit-details-marker {
      display: none; // hides marker in Webkit
    }

    &::after {
      content: "\00002b";
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &[open] {
    summary {
      &::after {
        content: "\0000d7";
      }
    }
  }
}
