@use "../settings/other" as *;

html {
  color: var(--content-color);
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);

  @media(min-width: $breakpoint--desktop) {
    font-size: 125%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight--bold);
  letter-spacing: var(--letter-spacing--tight);
  line-height: var(--line-height--unleaded);
  margin: 0 0 var(--spacing--half);
}

h1 {
  font-size: var(--font-size--xlarge);
}

p {
  margin: 0 0 var(--spacing--half);
  font-weight: var(--font-weight--body);
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: var(--spacing--sixteenth);
  transition: color var(--duration) var(--timing);

  &:hover {
    // color: var(--action-color--hover);
  }

  &:focus {
    // outline: var(--focus-outline);
    // outline-offset: var(--focus-outline-offset);
  }
}

address {
  font-style: normal;
}

code {
  font-family: var(--mono-font-family);
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}
