<header class="site__header site-header">
  <a class="u-display--inline" href="{{ '/' | url }}" alt={{ metadata.title }}>
      {{ "/src/assets/images/logo-symbol.svg" | svgContents("site-header__logo--mobile logo logo--header") | safe }}
      {{ "/src/assets/images/logo-landscape.svg" | svgContents("site-header__logo--desktop logo logo--header") | safe }}
  </a>

  <nav class="rack rack--padded">
    <a class="u-link--incognito">For BIAs</a>
    <a class="u-link--incognito">For Companies</a>
    <a class="button">Let's talk</a>
  </nav>
</header>
