<div class="u-offscreen">
  <label>Name</label>
  <input
    data-contact-form-target="sugarcube"
    name="name"
    type="text"
    value=""
  >

  <label>Email</label>
  <input
    data-contact-form-target="sugarcube"
    name="email"
    type="text"
    value=""
  >
</div>
