---
layout: base.njk
title: Contact Us
---

<section class="section section--padded">
  <div class="section__content">
    <div class="rack rack--double-spaced">
      <div>
        <h1>We like to talk&nbsp;shop.</h1>
        <p>People have doctors. Businesses have us.</p>
        <p>No matter the trouble, we're here to help:</p>
        <ul>
          <li>Schedule a talk or a workshop</li>
          <li>Rescue businesses in your area</li>
          <li>Get an executive partner to work with you</li>
          <li>Or just grab a coffee — on us</li>
        </ul>
      </div>

      {% include "partials/_contact-form.njk" %}
    </div>
  </div>
</section>
