---
layout: base.njk
title: Business Ours
---

<section class="section section--padded">
  <div class="section__content section__content--slim hero">
    <h1>Big ideas for small&nbsp;business.</h1>
    <p>Expert strategy &amp; marketing advice for Toronto small businesses, starting as&nbsp;low&nbsp;as&nbsp;$0*.</p>
    <a class="button" href="/contact">Book a session</a>
  </div>
</section>
