---
layout: base.njk
title: Business Ours
carousels:
  ideabook:
    slides:
      - url: ./content/images/how-to-create-a-market-niche.svg
      - url: ./content/images/how-to-find-product-market-fit.svg
      - url: ./content/images/how-priority-affects-product.svg
      - url: ./content/images/how-to-optimize-a-product.svg
      - url: ./content/images/ways-to-differentiate.svg
      - url: ./content/images/whos-not-buying-and-why.svg
      - url: ./content/images/how-to-make-a-sale.svg
      - url: ./content/images/ways-to-increase-revenue.svg
      - url: ./content/images/ways-to-induce-scarcity.svg
      - url: ./content/images/how-to-work-smarter.svg
      - url: ./content/images/signs-of-a-market-bubble.svg
      - url: ./content/images/ways-to-fund-a-business.svg
    options:
      autoplay:
        delay: 0
      speed: 6000
      freeMode: true
      loop: true
      effect: slide
      slidesPerView: 1.5
      spaceBetween: 12.8
      breakpoints:
        512:
          slidesPerView: 2.5
        768:
          slidesPerView: 3.5
        960:
          slidesPerView: 4.5
        1280:
          slidesPerView: 5.5
        1536:
          slidesPerView: 6.5
        1920:
          slidesPerView: 7.5
---

{%- from "macros/carousel.njk" import carousel -%}

<section class="section section--padded">
  <div class="section__content section__content--slim hero">
    <h1>Big ideas for small&nbsp;business.</h1>
    <p>Expert strategy &amp; marketing advice, starting as&nbsp;low&nbsp;as&nbsp;$0*.</p>
    <a class="button" href="/contact">Book a free session</a>
  </div>
</section>

<section class="section section--padded">
  <div class="section__content section__content--flush">
    {{ carousel(carousels.ideabook.slides, carousels.ideabook.options) }}
  </div>
</section>
